/* Tablet (768px :48em )*/
@media (min-width: 48em) {
  html {
    font-size: 105%;
  }

  body {
    padding: calc((83 / 16) * 1rem) calc((60 / 16) * 1rem);
  }

  /* SECTION TESTIMONIALS----------------------------- */
  .testimonials__section {
    min-width: calc((647 / 16) * 1rem);

    grid-template-columns: repeat(2, auto);
    column-gap: var(--space-32px);
  }

  /* TESTIMONIAL 1 --------------------------  */

  .testimonial__1 {
    background: url("../images/bg-pattern-quotation.svg") no-repeat left 70% top;

    grid-row: 1;
    grid-column: 1 / span 2;
  }

  /* TESTIMONIAL 2 ---------------------------- */
  .testimonial__2 {
    grid-row: 2;
    grid-column: 1;
  }

  /* TESTIMONIAL 3 ---------------------------- */
  .testimonial__3 {
    grid-row: 2;
    grid-column: 2;
  }

  /* TESTIMONIAL 4 ---------------------------- */
  .testimonial__4 {
    grid-row: 3;
    grid-column: 1 / span 2;
  }

  /* TESTIMONIAL 5 ---------------------------- */
  .testimonial__5 {
    grid-row: 4;
    grid-column: 1 / span 2;
  }
}
